<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/express-sample"><%= menu.title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                                <a class="nav-link" href="/express-sample">Express-sample &raquo;</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-register" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">グリッド</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-d_com">
                                        <a class="dropdown-item" href="/express-sample/grid">グリッドサンプル &raquo;</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-register" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">チャート</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-d_com">
                                        <a class="dropdown-item" href="/express-sample/chart">チャートサンプル &raquo;</a>
                                </div>
                        </li>
                </ul>
        </div>
</nav>
